/* Color Palette
Base color: Salmon #fa8072;
Dark Salmon #a03a2f;
Medium Salmon: #FFA49A;
Light Salmon:  #FFC9C3;
Lightest Salmon #fee0dd;
Complementary Color: Green- GB [hex]	#56BD6D;
dark green: #1C8B35
Quad Apricot:  #FAB472;
Dark Apricot: #92541b;
Quad  Dusty Blue:  #488D9A; 
dark Dusty Blue: #196371;
Light Gray:  rgb(205, 199, 198);
Dark Gray :  rgb(73, 56, 54);
Whitesmoke:  whitesmoke;
font-family: 'Chicle', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Molle', cursive;
*/

/* *********************************Global Styles****************************** */
body {
    background-color: #FFC9C3;

}
header {
    background: #488D9A;
height: 150px;
color: whitesmoke;

}
.navigation-bar {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: right;
    text-align: right;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
.navigation-bar a {
    padding: 15px;
    text-decoration: none;
    color: whitesmoke;
    text-align: right;
  }

  .logo-words{
position: absolute;
padding-top: -30px;


  }

  .logo {
    color: whitesmoke;
    font-size: 40px;
    text-align: left;
    margin-top: -10px;
    padding-left: 30px;
    font-family: 'Chicle', cursive;
  }

  .salmon {
    height: 50px;
    padding-left: 61px;
    padding-top: 5px;
  }

main {
    height: 1600px;
}

h1, h2, h3{
    color: #196371;
}



footer {
    background: #488D9A;
    height: 150px;
    color: whitesmoke;
}
/* *********************************index.HTML****************************** */

.intro {
 background-image: url("../img/mockaroon-bzLhhI3MpYY-unsplash.jpg");
 background-size: cover;
 height: 600px;

}

/* ******************shop**************** */

.trio{
  /* margin: 30px; */
  display: flex;

}

.box1 img{
  width: 300px;
  height: auto;
  vertical-align: middle;
  justify-content: center;
  object-fit: contain;
}

.box2 img{
  width: 300px;
  height: auto;
  justify-content: center;
  object-fit: contain;
}

.box3 img{
  width: 300px;
  height: auto;
  justify-content: center;
  object-fit: contain;
}
.box1 {
  height: 350px;
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  margin:30px;
  box-shadow: 0 3px 10px black;
  justify-content: center;
  vertical-align: middle;
  display: flex;
}
.box2 {
  height: 350px;
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  margin:30px;
  box-shadow: 0 3px 10px black;
  display: flex;
}
.box3 {
  height: 350px;
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  margin:30px;
  box-shadow: 0 3px 10px black;
  display: flex;
}
/* .middle{
  padding-left: 30px;
  padding-right:30px;
} */

/* ******************about us**************** */

.our-family{
  width: 480px;
  margin:30px;
  border: 5px white;
}

h1 {
font-weight: 800;
font-size: 18px;

}
.about-us{
  display: inline-flex;   
}

/* ********flex******* */

.about-us {
  display: flex;
  width: 1000px;
}

.heading {
padding-top: 20px;

}
.our-family {
  flex: 1 480px;
  border-radius: 10px;
}

article:nth-of-type(2) {
  flex: 2 480px;
  display: flex;
  flex-flow: column;
}

.scroll{
  overflow-y:scroll;
  width: 480 px;
  height: 190px;
  border:1px solid rgb(11, 11, 11);
  border-radius: 10px;
  padding: 5px;
  background-color: #ffebe9;

}

article:nth-of-type(2) div:first-child {
  /* flex: 1 50px; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  flex: 1 auto;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(36, 128, 133);
  transition-delay:350ms;

}

/* ******************locations**************** */




/* *********************************Sales.HTML****************************** */
.sales {
    background-color: salmon;
    color: #a03a2f; 
}
#salesData  {
list-style:disc;
    list-style-type: circle; 
    color: #a03a2f;
    list-style-position: inside;

}

table, td, th {
    background-color: #ffebe9;
    border: solid #fa8072; 2px;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
  }
table {
    margin-left: 100px;
  }  
  tr:hover    {background-color: coral;}

/* *********************************Global Styles****************************** */




/* *********************************Global Styles****************************** */