/* Color Palette
Base color: Salmon #fa8072;
Dark Salmon #a03a2f;
Medium Salmon: #FFA49A;
Light Salmon:  #FFC9C3;
Lightest Salmon #fee0dd;
Complementary Color: Green- GB [hex]	#56BD6D;
dark green: #1C8B35
Quad Apricot:  #FAB472;
Dark Apricot: #92541b;
Quad  Dusty Blue:  #488D9A; 
dark Dusty Blue: #196371;
Light Gray:  rgb(205, 199, 198);
Dark Gray :  rgb(73, 56, 54);
Whitesmoke:  whitesmoke;
font-family: 'Coiny', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

/* *********************************Global Styles****************************** */
body {
    background-color: #FFC9C3;

}
header {
    background: #488D9A;
height: 150px;
color: whitesmoke;

}
.navigation-bar {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: right;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    hover: 
    

  }
  
.navigation-bar a {
    padding: 15px;
    text-decoration: none;
    color: whitesmoke;
    text-align: right;
  }

  .logo {
    color: whitesmoke;
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
    font-family: 'Coiny', cursive;
  }

  img {
    height: 50px;
    padding-left: 80px;
    padding-top: 5px;
  }

main {
    height: 600px;
}


h1, h2, h3{
    color: #196371;
}



footer {
    background: #488D9A;
    height: 150px;
    color: whitesmoke;
}
/* *********************************index.HTML****************************** */



/* *********************************Sales.HTML****************************** */
.sales {
    color: #a03a2f; 
}
.sales-data  {

    list-style-type: circle; 
    color: #a03a2f;
    list-style-position: inside;

}


/* *********************************Global Styles****************************** */




/* *********************************Global Styles****************************** */